In [ ]:
ls

In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
import numpy as np
# from flask import Flask
# from flask import render_template

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xec in position 2: invalid continuation byte

In [20]:
data.iloc[0:10].to_json(orient='index')

'{"0":{"Mandarin":"\\u4f60\\u597d","Pinyin":"n\\u01d0 h\\u01ceo","English":"hello","Missed":"n"},"1":{"Mandarin":"\\u4e16\\u754c","Pinyin":"sh\\u00ecji\\u00e8","English":"world","Missed":"n"},"2":{"Mandarin":"\\u4f60","Pinyin":"n\\u01d0","English":"you","Missed":"n"},"3":{"Mandarin":"\\u597d","Pinyin":"h\\u01ceo","English":"is good","Missed":"n"},"4":{"Mandarin":"\\u6211","Pinyin":"w\\u01d2","English":"I","Missed":"n"},"5":{"Mandarin":"\\u662f","Pinyin":"sh\\u00ec","English":"yes\\/is","Missed":"n"},"6":{"Mandarin":"\\u518d\\u89c1","Pinyin":"z\\u00e0iji\\u00e0n","English":"Goodbye","Missed":"n"},"7":{"Mandarin":"\\u4e0d","Pinyin":"b\\u00f9","English":"no\\/is not","Missed":"n"},"8":{"Mandarin":"\\u4ed6","Pinyin":"t\\u0101","English":"He","Missed":"n"},"9":{"Mandarin":"\\u5979","Pinyin":"t\\u0101","English":"She","Missed":"n"}}'

In [21]:
data[data["Missed"]=='y']

    Mandarin   Pinyin         English Missed
24         菠       bō         spinach      y
107        日       rì    sun/daylight      y
109        分      fēn  minute (small)      y
111       明晰   míngxī     lucid/clear      y
119       生日  Shēngrì        birthday      y

In [24]:
data.iloc[[1,12,3]]

   Mandarin  Pinyin  English Missed
1        世界  shìjiè    world      n
12        国     guó  country      n
3         好     hǎo  is good      n

In [28]:
data.iloc[np.random.choice(range(50), size = 5)]

   Mandarin Pinyin    English Missed
12        国    guó    country      n
23       菠萝  bōluó  pineapple      n
11        中  zhōng         in      n
28        果    guǒ      fruit      n
35        蛋    dàn        egg      n

In [30]:
data['Radical']='n'

In [33]:
data.to_csv('data.csv', index=False)

In [5]:
data

    Mandarin   Pinyin           English Missed
0         你好   nǐ hǎo             hello      n
1         世界   shìjiè             world      n
2          你       nǐ               you      n
3          好      hǎo           is good      n
4          我       wǒ                 I      n
..       ...      ...               ...    ...
116        月      Yuè             month      n
117        号      Hào  day of the month      n
118        年     Nián              year      n
119       生日  Shēngrì          birthday      y
120        零     Líng              zero      n

[121 rows x 4 columns]